###########################################
# Platform Options
###########################################
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="http://insidelabs-git.mathworks.com/EmbeddedLinux/xilinx-linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="master"
BR2_LINUX_KERNEL_UIMAGE_LOADADDR="0x8000"
BR2_ROOTFS_DEVICE_TABLE="system/device_table.txt board/mathworks/zynq/device_table.txt"
BR2_ROOTFS_OVERLAY="./board/mathworks/common/fs-overlay ./board/mathworks/zynq/fs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/mathworks/zynq/scripts/postbuild_common.sh"
BR2_TARGET_GENERIC_GETTY_PORT="ttyPS0"
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_CPIO=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="http://insidelabs-git.mathworks.com/EmbeddedLinux/xilinx-uboot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="master"
BR2_TARGET_UBOOT_FORMAT_ELF=y
BR2_DL_DIR="dl/zynq"

