###########################################
# ZedBoard Options
###########################################
BR2_ROOTFS_POST_SCRIPT_ARGS="-b uzed -c 7z010 -a dma"
BR2_TARGET_UBOOT_BOARDNAME="zynq_uzed"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="zynq-mw-uzed"
