###########################################
# ZedBoard Options
###########################################
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/mathworks/zynq/scripts/postbuild_uzed.sh"
BR2_TARGET_UBOOT_BOARDNAME="zynq_uzed"
