###########################################
# Platform Options
###########################################
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="zynq-ag-next"
BR2_LINUX_KERNEL_UIMAGE_LOADADDR="0x8000"
BR2_PACKAGE_UBOOT_TGT_TOOLS=y
BR2_PACKAGE_UBOOT_TGT_TOOLS_USECUSTOMGIT=y
BR2_PACKAGE_UBOOT_TGT_TOOLS_MKIMAGE=y
BR2_PACKAGE_UBOOT_TGT_TOOLS_FWPRINTENV=y
BR2_ROOTFS_DEVICE_TABLE="system/device_table.txt board/mathworks/zynq/device_table.txt"
BR2_ROOTFS_OVERLAY="./board/mathworks/common/fs-overlay ./board/mathworks/zynq/fs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/mathworks/zynq/scripts/postbuild_common.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/mathworks/zynq/scripts/postimage_common.sh"
BR2_TARGET_GENERIC_GETTY_PORT="ttyPS0"
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_TARGET_ROOTFS_CPIO=y
# BR2_TARGET_ROOTFS_TAR is not set
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="zynq-mf-next"
BR2_TARGET_UBOOT_FORMAT_ELF=y
