###########################################
# ZedBoard Options
###########################################
BR2_ROOTFS_POST_SCRIPT_ARGS="-b zed -a dma -a fmcomms2 -a vid-imageon -a vid-camlink -a vid-hdmi -a vid-vita -a sound -a axilite -a axistream -a canspi"
BR2_TARGET_UBOOT_BOARDNAME="zynq_zed"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="zynq-mw-zed"
