#include "zynq-zybo.dts"
#include "zynq.dtsi"

&eth {
	phy-handle = <&phy0>;
	phy-mode = "rgmii-id";

	phy0: phy@0 {
		/*compatible = "marvell,88e1510";
		device_type = "ethernet-phy";*/
		reg = <0x0>;
		/*marvell,reg-init=<3 16 0xff00 0x1e 3 17 0xfff0 0x0a>;*/
	};
};

#include "zynq-mw-common.dtsi"

/ {
	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/ram rw earlyprintk";
	};
};

#include "zynq-mw-axilite-common.dtsi"

