#include "base.dtsi"
#include "vid-common.dtsi"
/{
    i2c_misc {
        fmceeprom {
            compatible = "mathworks,mwgeneric-v1.00";
            reg = <0x1>;    
            mwgen,type = "nomem";            
	        mwgen,devname = "fmceeprom";        
            i2c-controller = <&fmc_eeprom>;
            
        }; 
    };
};

&i2c1{
    status = "okay";
    
    fmc_eeprom: eeprom@50 {
		compatible = "at,24c02";
		reg = <0x50>;
	};
};

&axi{   			
	imageon_i2c: i2c@41600000 {
		compatible = "xlnx,axi-iic-1.02.a", "xlnx,xps-iic-2.00.a";
		interrupt-parent = <&gic>;
		interrupts = <0 59 4>;
		reg = <0x41600000 0x10000>;
		#address-cells = <1>;
		#size-cells = <0>;

	};
};

#include "zynq-mw-vid-imageon.dtsi"
