###########################################
# Terasic SoCkit Options
###########################################
BR2_TARGET_UBOOT_BOARDNAME="socfpga_cyclone5"
BR2_PACKAGE_UBOOT_ALTERA_BSP_OPTIONS="--set spl.boot.FAT_SUPPORT True"
BR2_TARGET_UBOOT_FORMAT_IMG=y
BR2_TARGET_UBOOT_SPL=y
BR2_TARGET_UBOOT_ALTERA_SOCFPGA_IMAGE_CRC=y
# BR2_TARGET_UBOOT_BOARD_DEFCONFIG="socfpga_sockit"

