###########################################
# Platform Options
###########################################
#include "arm_common.defconfig"
#ifdef BUILD_MODE_NORMAL
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/mathworks/altera-linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="mathworks_socfpga_R21.2.0"
# BR2_LINUX_KERNEL_UIMAGE is not set
BR2_LINUX_KERNEL_ZIMAGE=y
#endif
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_ROOTFS_DEVICE_TABLE="system/device_table.txt board/mathworks/socfpga/device_table.txt"
BR2_ROOTFS_OVERLAY="./board/mathworks/common/fs-overlay ./board/mathworks/socfpga/fs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/mathworks/socfpga/scripts/postbuild_common.sh"
BR2_TARGET_GENERIC_HOSTNAME="buildroot-socfpga"
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"
BR2_TARGET_GENERIC_ROOT_PASSWD="cyclonevsoc"
#ifdef BUILD_MODE_NORMAL
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_EXT2_4=y
BR2_TARGET_ROOTFS_EXT2_BLOCKS=737280
BR2_TARGET_ROOTFS_EXT2_GEN=4
BR2_TARGET_ROOTFS_EXT2_REV=1
BR2_TARGET_ROOTFS_EXT2_LABEL="root"
BR2_TARGET_ROOTFS_EXT2_NONE=y
BR2_TARGET_ROOTFS_TAR=y
BR2_TARGET_ROOTFS_TAR_GZIP=y
BR2_TARGET_UBOOT=y
BR2_TARGET_UBOOT_CUSTOM_GIT=y
BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/mathworks/altera-uboot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="mathworks_socfpga_R20.2.0"
# BR2_TARGET_UBOOT_BUILD_SYSTEM_KCONFIG=y
BR2_PACKAGE_UBOOT_ALTERA=y
BR2_PACKAGE_UBOOT_ALTERA_EDS_VERSION="17.0.0.155"
BR2_PACKAGE_UBOOT_ALTERA_EDS_INSTALLATION="/opt/intelFPGA/17.0/embedded"
BR2_PACKAGE_RECOVERY_IMAGE=y
BR2_PACKAGE_RECOVERY_IMAGE_PLATFORM="socfpga"
BR2_PACKAGE_RECOVERY_IMAGE_BOARD="recovery"
#endif
