###########################################
# Linaro Toolchain Options
###########################################
BR2_TOOLCHAIN_EXTERNAL_CUSTOM=y
BR2_TOOLCHAIN_EXTERNAL_CXX=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_GLIBC=y
BR2_TOOLCHAIN_EXTERNAL_CUSTOM_PREFIX="$(ARCH)-linux-gnueabihf"
BR2_TOOLCHAIN_EXTERNAL_PATH="/opt/altera/13.1/embedded/ds-5/sw/gcc/"
BR2_ARM_EABIHF=y
BR2_TOOLCHAIN_EXTERNAL_HEADERS_3_2=y
