###########################################
# Linaro Toolchain Options
###########################################
BR2_TOOLCHAIN_EXTERNAL_LINARO_ARM=y
BR2_ARM_EABIHF=y
BR2_TOOLCHAIN_EXTERNAL_PREINSTALLED=y
BR2_TOOLCHAIN_EXTERNAL_PATH="/opt/altera/15.0/embedded/ds-5/sw/gcc/"
