###########################################
# Platform Options
###########################################
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="socfpga-next"
# BR2_LINUX_KERNEL_UIMAGE is not set
BR2_LINUX_KERNEL_ZIMAGE=y
BR2_PACKAGE_HOST_DOSFSTOOLS=y
BR2_PACKAGE_HOST_UBOOT_TOOLS=y
BR2_ROOTFS_DEVICE_TABLE="system/device_table.txt board/mathworks/socfpga/device_table.txt"
BR2_ROOTFS_OVERLAY="./board/mathworks/socfpga/fs-overlay"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/mathworks/socfpga/scripts/postbuild_common.sh"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/mathworks/socfpga/scripts/postimage_common.sh"
BR2_TARGET_GENERIC_GETTY_PORT="ttyS0"
BR2_TARGET_GENERIC_ROOT_PASSWD="cyclonevsoc"
BR2_TARGET_ROOTFS_TAR_GZIP=y
BR2_TARGET_ROOTFS_TAR=y
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="altera-socfpga"
BR2_TARGET_UBOOT_FORMAT_IMG=y
