#include "mw-generic.dtsi"
/{
	soc{
        fpga2sdram0: fpgabridge@3 {
		    compatible = "altr,socfpga-fpga2sdram-bridge";
		    label = "fpga2sdram0";
		    read-ports-mask = <0x1>;
		    write-ports-mask = <0x1>;
		    cmd-ports-mask = <0x3>; /* ports 0 and 1 */
	    };
    };
};
