###########################################
# ZCU216 Options
###########################################
BR2_TARGET_UBOOT_BOARD_DEFCONFIG="xilinx_zynqmp_virt"
BR2_PACKAGE_XILINX_BOOTLOADER_UBOOT_TARGET_DIR="board/xilinx/zynqmp/zynqmp-zcu216-revA"

BR2_ROOTFS_DEVICE_TABLE="system/device_table.txt board/mathworks/zynqmp/device_table.txt ./board/mathworks/zynqmp/boards/zcu216/device_table.txt"

BR2_ROOTFS_OVERLAY="./board/mathworks/common/fs-overlay ./board/mathworks/zynqmp/fs-overlay ./board/mathworks/zynqmp/boards/zcu216/fs-overlay"

BR2_LINUX_KERNEL_DEFCONFIG="mw_zynqmp_zcu216"

BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/mathworks/xilinx-linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="mathworks_zynq_rfsoc_gen3_R23.1.0"

BR2_TARGET_UBOOT_CUSTOM_REPO_URL="https://github.com/mathworks/xilinx-uboot.git"
BR2_TARGET_UBOOT_CUSTOM_REPO_VERSION="mathworks_zynq_rfsoc_gen3_R21.1.0"
BR2_TARGET_UBOOT_VERSION="mathworks_zynq_rfsoc_gen3_R21.1.0"

BR2_PACKAGE_XILINX_BOOTLOADER_PLATFORM="zynqmp_gen3"

BR2_TARGET_ARM_TRUSTED_FIRMWARE=y
BR2_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_GIT=y
BR2_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_REPO_URL="https://github.com/Xilinx/arm-trusted-firmware.git"
BR2_TARGET_ARM_TRUSTED_FIRMWARE_CUSTOM_REPO_VERSION="xilinx-v2020.1"
BR2_TARGET_ARM_TRUSTED_FIRMWARE_PLATFORM="zynqmp"
BR2_TARGET_ARM_TRUSTED_FIRMWARE_ADDITIONAL_VARIABLES="RESET_TO_BL31=1"


BR2_PACKAGE_LIBCONFIG=y
BR2_PACKAGE_LIBSYSFS=y

BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_LTTNG_MODULES=n
BR2_PACKAGE_LTTNG_MODULES_RFSOC=n
BR2_PACKAGE_LTTNG_MODULES_2_11_6=y
