/include/ "zynq-mw-vid-common.dtsi"
/{
    i2c_misc {
        compatible = "simple-bus";
		#address-cells = <0x1>;
		#size-cells = <0x0>;

        fmcgpio {
            compatible = "mathworks,mwgeneric-v1.00";       
            reg = <0x0>;    
            mwgen,type = "nomem";            
            mwgen,devname = "fmcgpio";            
            i2c-controller = <&fmcgpio_i2c>;
        };

        fmceeprom {
            compatible = "mathworks,mwgeneric-v1.00";
            reg = <0x1>;    
            mwgen,type = "nomem";            
	        mwgen,devname = "fmceeprom";        
            i2c-controller = <&fmc2_eeprom>;
            
        }; 
    };

	amba@0{   
		hdmirx@41000000 {
			compatible = "mathworks,mwgeneric-v1.00";
			reg = <0x41000000 0xffff>;
			mwgen,ipname = "adi,axi_hdmi_16b_es";
			mwgen,devname = "hdmirx";
			mwgen,ipinst = "axi_hdmi_16b_es_0";
			mwgen,ipver = "1.00.a";
            i2c-controller = <&hdmirx_i2c>;
		};
		
		vita@42020000 {
			compatible = "mathworks,mwgeneric-v1.00";
			reg = <0x42020000 0xffff>;
			mwgen,ipname = "avnet,fmc_imageon_vita_receiver";
			mwgen,devname = "vitarx";
			mwgen,ipinst = "vita_rx";
			mwgen,ipver = "1.12.a";
		};
		
		gpio@43020000 {
			compatible = "mathworks,mwgeneric-v1.00";
			reg = <0x43020000 0xffff>;
			mwgen,ipname = "xlnx,axi_gpio";
			mwgen,devname = "axigpio";
			mwgen,ipinst = "axi_gpio_0";
			mwgen,ipver = "1.12.a";
		};
		
		i2c1: i2c@e0005000 {
			compatible = "xlnx,ps7-i2c-1.00.a";
			reg = <0xE0005000 0x1000>;
			interrupts = <0 48 4>;
			interrupt-parent = <&gic>;
			bus-id = <1>;
			input-clk = <111111111>;
			i2c-clk = <100000>;

			#address-cells = <1>;
			#size-cells = <0>;
            
            i2cswitch@70 {
				compatible = "nxp,pca9546";
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0x70>;            
            
                fmci2c@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
                    
                    fmcadv7511@39 {
						compatible = "adi,adv7511";
						reg = <0x39>;
					};
					
				};
				fmci2c@2 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <2>;

					hdmirx_i2c: fmcadv7611@4C {
						compatible = "adi,adv7611";
						reg = <0x4C>;
					};

				};
                fmci2c@3 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <3>;
					
                    fmcgpio_i2c: fmcgpio@20 {
						compatible = "nxp,xxxpca9534";
						reg = <0x20>;
					};
				};
            };
		};
	};
};
