/{
	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/ram rw earlyprintk cma=128M coherent_pool=16M";
		linux,stdout-path = "/amba@0/uart@E0001000";
	};
};

&fpga_axi {
	axi4stream:axidma@40020000 {
		#address-cells = <0x1>;
		#dma-cells = <0x1>;
		compatible = "xlnx,axi-dma-1.00.a";
		interrupt-parent = <&intc>;
		reg = <0x40020000 0xffff>;
		xlnx,include-sg = <0x1>;
		dma-channel@40020000 {
			compatible = "xlnx,axi-dma-mm2s-channel";
			interrupts = <0x0 0x1d 0x4>;
			xlnx,datawidth = <0x20>;
			xlnx,include-dre = <0x0>;
			dma-channels = <0x1>;
			xlnx,no-coalesce;
			xlnx,halt-mode = "always-force";
		};
		dma-channel@40020030 {
			compatible = "xlnx,axi-dma-s2mm-channel";
			interrupts = <0x0 0x1e 0x4>;
			xlnx,datawidth = <0x20>;
			xlnx,include-dre = <0x0>;
			dma-channels = <0x1>;
			xlnx,no-coalesce;
			xlnx,halt-mode = "always-force";
		};
	};
};
	
&mwipcore0 {
	dmas = <&axi4stream 0 
			&axi4stream 1>;
	dma-names = "mm2s", "s2mm";
};
