/{
	chosen {
		bootargs = "console=ttyPS0,115200 root=/dev/ram rw earlyprintk cma=128M";
		linux,stdout-path = "/amba@0/uart@E0001000";
	};
	
	amba@0{
		hdmitx@41010000 {
			compatible = "mathworks,mwgeneric-v1.00";
			reg = <0x41010000 0xffff>;
			mwgen,ipname = "adi,axi_hdmi_tx_16b";
			mwgen,devname = "hdmitx";
			mwgen,ipinst = "axi_hdmi_tx_16b_0";
			mwgen,ipver = "1.00.a";
		};
		hdmirx@41000000 {
			compatible = "mathworks,mwgeneric-v1.00";
			reg = <0x41000000 0xffff>;
			mwgen,ipname = "adi,axi_hdmi_16b_es";
			mwgen,devname = "hdmirx";
			mwgen,ipinst = "axi_hdmi_16b_es_0";
			mwgen,ipver = "1.00.a";
		};
		vdma_hdmi@42000000 {
			compatible = "mathworks,mwgeneric-v1.00";
			reg = <0x42000000 0xffff>;
			mwgen,ipname = "xlnx,axi_vdma";
			mwgen,devname = "vdma";
			mwgen,ipinst = "vdma_hdmi";
			mwgen,ipver = "5.04.a";
		};
		vdma_filter@42010000 {
			compatible = "mathworks,mwgeneric-v1.00";
			reg = <0x42010000 0xffff>;
			mwgen,ipname = "xlnx,axi_vdma";
			mwgen,devname = "vdma";
			mwgen,ipinst = "vdma_filter";
			mwgen,ipver = "5.04.a";
		};
		clkgen@43000000 {
			compatible = "mathworks,mwgeneric-v1.00";
			reg = <0x43000000 0xffff>;
			mwgen,ipname = "axi_clkgen";
			mwgen,devname = "clkgen";
			mwgen,ipinst = "axi_clkgen_0";
			mwgen,ipver = "1.00.a";
		};
		mwtc@43010000 {
			compatible = "mathworks,mwgeneric-v1.00";
			reg = <0x43010000 0xffff>;
			mwgen,ipname = "mathworks,mwtc";
			mwgen,devname = "mwtc";
			mwgen,ipinst = "mwtc_0";
			mwgen,ipver = "1.00.a";
		};
		vita@42020000 {
			compatible = "mathworks,mwgeneric-v1.00";
			reg = <0x42020000 0xffff>;
			mwgen,ipname = "avnet,fmc_imageon_vita_receiver";
			mwgen,devname = "vitarx";
			mwgen,ipinst = "vita_rx";
			mwgen,ipver = "1.12.a";
		};
		cl2axis@42030000 {
			compatible = "mathworks,mwgeneric-v1.00";
			reg = <0x42030000 0xffff>;
			mwgen,ipname = "mathworks,cl2axis";
			mwgen,devname = "cl2axis";
			mwgen,ipinst = "cl2axis";
			mwgen,ipver = "1.00.a";
		};
		gpio@43020000 {
			compatible = "mathworks,mwgeneric-v1.00";
			reg = <0x43020000 0xffff>;
			mwgen,ipname = "xlnx,axi_gpio";
			mwgen,devname = "axigpio";
			mwgen,ipinst = "axi_gpio_0";
			mwgen,ipver = "1.12.a";
		};
		
		i2c0: i2c@e0004000 {
			i2cswitch@74 {
				i2c@5 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <5>;
					eeprom@50 {
						compatible = "at,24c02";
						reg = <0x50>;
					};
				};
				i2c@6 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <6>;
					eeprom@50 {
						compatible = "at,24c02";
						reg = <0x50>;
					};
				};
			};
		};
		i2c1: i2c@e0005000 {
			compatible = "xlnx,ps7-i2c-1.00.a";
			reg = <0xE0005000 0x1000>;
			interrupts = <0 48 4>;
			interrupt-parent = <&gic>;
			bus-id = <1>;
			input-clk = <111111111>;
			i2c-clk = <100000>;

			#address-cells = <1>;
			#size-cells = <0>;
		};
	};
};
