/include/ "zynq-mw-fmcomms2.dtsi"
/{
	amba@0 {
        
        ad9361_1: ad9361@79040000 {
            compatible = "generic-uio";
            reg = < 0x79040000 0x10000>;
        };
    };
};

&fmc_spi {
	xlnx,has-ss1 = <0x1>;
	xlnx,has-ss2 = <0x1>;
	spi@1 {
		compatible = "spidev";
		reg = <0>;
		spi-max-frequency = <10000000>;
	};
	spi@2 {
		compatible = "spidev";
		reg = <1>;
		spi-max-frequency = <10000000>;
	};
};		


