###########################################
# Altera Cyclone V Dev Kit Options
###########################################
BR2_ROOTFS_POST_SCRIPT_ARGS="-b alteracycv -a base"
BR2_LINUX_KERNEL_INTREE_DTS_NAME="socfpga_cyclone5_socdk"
BR2_PACKAGE_UBOOT_ALTERA_BOARDNAME="socfpga_cyclone5"
BR2_PACKAGE_ALTERA_PRELOADER_QUARTUS_HANDOFF_DIR="board/mathworks/socfpga/boards/alteracycv/handoff"
