###########################################
# ZedBoard Options
###########################################
BR2_ROOTFS_POST_SCRIPT_ARGS="-b zed -a axilite -a dma -a sound -a axistream -a canspi"
BR2_TARGET_UBOOT_BOARDNAME="zynq_zed"
